In [1]:
import pymongo
import pandas as pd

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
client = MongoClient('dbp.socioseer.com', 27017)

In [4]:
db = client['Tccc']

In [5]:
collection = db['content_Feb05']

In [6]:
new = collection.find({},{'text':True,"_id":False}).limit(1000)

In [7]:
dat = pd.DataFrame(list(new))

In [9]:
dat.head()

                                                text
0         Almased is now available at Harris Teeter!
1  Lisa is Almased's success story. She lost 20 l...
2                                      Thanks sister
3  Pumpkin spice is all the rave this fall. We've...
4                               Can you use MCT oil?